@charset "UTF-8";

body{
    width: 98vw;
    min-height: 98vh;
    background-color: #202020;
}

main{
    width: 100%;
}

#display_item{
    width: 250px;
    height: 250px;
    background-color: white;
    padding: 5px;
}

.item_display{
    color: red;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}