@charset "UTF-8";

body {
    width: 98%;
    min-height: 98vh;
    background-image: url(imagens/body.png);
    background-size: 100% 100%;
    /* background-image: linear-gradient(145deg, #004d00, #008c00, #006600); */
}

main {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

header>img {
    width: 200px;
}


main > p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
    border-radius: 10px;
    font-weight: bold;
    color: #022401;
    background-color: #60ff6063;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

#container_geral {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-image: linear-gradient(145deg, #004d00, #006600, #008000);
    border-radius: 10px;
    padding: 10px;
}

#item_box {
    background-image: linear-gradient(145deg, #80998093, #b3b3b38e, #80998093);
    padding: 10px;
    border-radius: 5px;
}

#item_id {
    border: none;
    border-radius: 2px;
    padding: 3px;
    background-color: #adebad;
    font-size: 16px;
}

#display_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 0px 0px;
    width: 300px;
    height: 30vh;
    padding: 5px;
    background-color: #b3ffb3a6;
    border-radius: 10px;
    overflow: auto;
}

#display_ganhador {
    margin: 10px 0px 0px 0px;
    width: 300px;
    border-radius: 10px;
    background-color: #004d4d;
    overflow-x: auto;
}

#display_ganhador>p {
    display: inline-block;
    color: #ffffff;
    padding: 5px;
    margin: 0px;
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
    white-space: nowrap;
}

.item_display {
    display: block;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #f7efff;
    padding: 4px;
    border-radius: 5px;
    background-color: #004d00;
    margin: 4px 0px 0px 0px;
    width: fit-content;
    cursor: pointer;
}

#btn_caixa{
    display: inline-block;
}

#btn_adicionar {
    background-color: #309c30;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
    border: 3px solid #003f00;
    border-radius: 10px;
}

#btn_reset {
    background-color: #309c30;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
    margin: 0px;
    border: 3px solid #003f00;
    border-radius: 10px;
}

#btn_sortear {
    background-image: linear-gradient(145deg, #b46c00, #c27502, #5e5000); 
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
    margin: 15px 0px 0px 0px;
    border: 3px solid #ac9b04;
    border-radius: 5px;
}

#btn_reset:hover {
    background-image: linear-gradient(145deg, #003f00, #006600, #004d00);
    color: #ffffff;
}

#btn_adicionar:hover {
    background-image: linear-gradient(145deg, #003f00, #006600, #004d00);
    color: #ffffff;
}

#btn_sortear:hover {
    background-image: linear-gradient(145deg, #945900, #945902, #443a01); 
}

::-webkit-scrollbar {
    height: 10px;
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #4ca64c;
}

::-webkit-scrollbar-thumb {
    background: #004d00;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #006600;
}
